In [1]:
import pandas as pd
dff = pd.read_csv('flavor_db.csv')[['entity id','alias','synonyms','scientific name','category','molecules']].set_index('entity id')

dff.head()

,alias,synonyms,scientific name,category,molecules
entity id,,,,,
1,bakery products,{'bakery products'},poacceae,bakery,"{27457, 7976, 31252, 26808, 22201, 26331}"
2,bread,{'bread'},poacceae,bakery,"{1031, 1032, 644104, 527, 8723, 31260, 15394, ..."
3,rye bread,{'rye bread'},rye,bakery,"{644104, 7824, 643731, 8468, 1049, 5372954, 80..."
4,wheaten bread,"{'soda scones', 'soda farls'}",wheat,bakery,"{6915, 5365891, 12170, 8082, 31251, 7958, 1049..."
5,white bread,{'white bread'},wheat,bakery,"{7361, 994, 10883, 7362, 11173, 5365891, 11559..."

In [2]:
dfm = pd.read_csv('molecules.csv')[['pubchem id','common name','flavor profile']].set_index('pubchem id').iloc[:-3]

dfm.head()

,common name,flavor profile
pubchem id,,
4,1-Aminopropan-2-ol,{'fishy'}
49,3-Methyl-2-oxobutanoic acid,{'fruity'}
58,2-oxobutanoic acid,"{'sweet', 'creamy', 'caramel', 'lactonic', 'br..."
70,4-Methyl-2-oxovaleric acid,{'fruity'}
72,"3,4-Dihydroxybenzoic Acid","{'mild', 'balsamic', 'phenolic'}"

1. recipe name: {name of the recipe the comment was posted on}
2. recipe number: {placement of the recipe on the top 100 recipes list}
3. recipe code: {unique id of the recipe used by the site}
4. comment id: {unique id of the comment}
5. user id: {unique id of the user who left the comment}
6. user name: {name of the user}
7. user reputation: {internal score of the site, roughly quantifying the past behavior of the user}
8. create at: {time at which the comment was posted as a Unix timestamp}
9. reply count: {number of replies to the comment}
10. thumbs up: {number of up-votes the comment has received}
11. thumbs down: {number of down-votes the comment has received}
12. stars: {the score on a 1 to 5 scale that the user gave to the recipe. A score of 0 means that no score was given}
13. best score: {score of the comment, likely used by the site the help determine the order in the comments that appear in}
14. text: {the text content of the comment}

In [3]:
dfu = pd.read_csv('recipes_with_user_reviews.csv').iloc[:,1:].set_index(['recipe_code','comment_id'])

dfu.head()

                                                             recipe_number  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM              1
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY              1
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP              1
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC              1
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI              1

                                                                    recipe_name  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM  Creamy White Chili
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY  Creamy White Chili
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP  Creamy White Chili
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC  Creamy White Chili
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI  Creamy White Chili

                                                                    user_id  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM  u_9iFLIhMa8QaG
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY  u_Lu6p25tmE77j
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP  u_s0LwgpZ8Jsqq
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC  u_fqrybAdYjgjG
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI  u_XXWKwVhKZD69

                                                              user_name  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM     Jeri326
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY     Mark467
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP  Barbara566
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC  jeansch123
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI    camper77

                                                             user_reputation  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM                1
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY               50
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP               10
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC                1
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI               10

                                                             created_at  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM  1665619889
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY  1665277687
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP  1664404557
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC  1661787808
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI  1664913823

                                                             reply_count  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM            0
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY            0
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP            0
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC            2
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI            1

                                                             thumbs_up  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM          0
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY          7
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP          3
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC          2
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI          7

                                                             thumbs_down  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM            0
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY            0
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP            0
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC            0
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI            0

                                                             stars  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM      5
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY      5
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP      5
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC      0
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI      0

                                                             best_score  \
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM         527
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY         724
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP         710
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC         581
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI         820

                                                                                                          text
recipe_code comment_id
14299       sp_aUSaElGf_14299_c_2G3aneMRgRMZwXqIHmSdXSG1hEM  I tweaked it a little, removed onions because ...
            sp_aUSaElGf_14299_c_2FsPC83HtzCsQAtOxlbL6RcaPbY  Bush used to have a white chili bean and it ma...
            sp_aUSaElGf_14299_c_2FPrSGyTv7PQkZq37j92r9mYGkP  I have a very complicated white chicken chili ...
            sp_aUSaElGf_14299_c_2DzdSIgV9qNiuBaLoZ7JQaartoC  In your introduction, you mentioned cream chee...
            sp_aUSaElGf_14299_c_2DtZJuRQYeTFwXBoZRfRhBPEXjI  Wonderful! I made this for a &#34;Chili/Stew&#...

### food.com data

In [4]:
import pandas as pd
dfr1 = pd.read_csv('food_dot_com/RAW_recipes.csv').rename(columns={'id':'recipe_id'})
dfr1=dfr1.set_index('recipe_id')

dfr1.head()

,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
recipe_id,,,,,,,,,,,
137739,arriba baked winter squash mexican style,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
31490,a bit different breakfast pizza,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
112140,all in the kitchen chili,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
59389,alouette potatoes,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
44061,amish tomato ketchup for canning,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [5]:
import numpy as np
def g(df,col):
    df[col] = df[col].apply(eval).apply(lambda x: list(x))
    return df

temp = g(dfm.copy(),'flavor profile')
df_flavs=temp['flavor profile'].explode().replace('',np.nan).dropna()

df_flavs =df_flavs.reset_index().set_index(['pubchem id','flavor profile'])

df_flavs

Empty DataFrame
Columns: []
Index: [(4, fishy), (49, fruity), (58, brown), (58, creamy), (58, sweet), (58, lactonic), (58, caramel), (70, fruity), (72, mild), (72, balsamic), (72, phenolic), (107, fatty), (107, cinnamon), (107, sweet), (107, musk), (107, balsamic), (107, rose), (125, fruity), (125, bitter), (125, sweet), (125, almond), (125, coconut), (126, balsam), (126, sweet), (126, nutty), (126, woody), (126, almond), (135, nutty), (135, phenolic), (176, sour), (176, vinegar), (176, pungent), (176, sharp), (177, aldehydic), (177, whiskey), (177, fruity), (177, ether), (177, ethereal), (177, pungent), (178, mousy), (179, buttery), (179, dairy), (179, creamy), (179, milky), (179, cream), (179, sweet), (179, fatty), (179, butter), (180, solvent), (180, apple), (180, ethereal), (180, pear), (196, odorless), (240, cherry), (240, strong), (240, bitter), (240, sharp), (240, burnt sugar), (240, sweet), (240, almond), (243, balsam), (243, faint), (243, urine), (244, cherry), (244, floral), (244, walnut), (244, phenolic), (244, balsamic), (244, grapefruit), (244, sweet), (244, berry), (244, flower), (244, rose), (247, bland), (261, floral), (261, pear), (261, nutty), (261, pungent), (261, vegetable), (261, creamy), (261, bready), (261, wine_like), (261, citrus), (261, spicy), (261, chocolate), (261, meaty), (261, earthy), (261, herbaceous), (261, musty), (261, fatty), (261, fruity), (261, apple), (261, green), (261, cocoa), (261, woody), (261, malty), (262, creamy), (262, fruity), (262, buttery), (262, onion), ...]

[7298 rows x 0 columns]

In [6]:
dft = pd.Series(dfr1['ingredients'].apply(eval).explode().unique())

dft2 = dff.reset_index()

dft2['alias']=dft2['alias'].str.lower()

dft2=dft2.rename(columns = {'alias':'ingredients'})
df_filt=dft2[dft2['ingredients'].isin(dft)].copy()

df_filt['molecules'] = df_filt['molecules'].apply(eval)


def g(df):
    df["molecules"] = df["molecules"].apply(lambda x: list(x))
    return df

df = g(df_filt.copy())
# Step 1: Explode the 'molecules' column
df_exploded = df.set_index('ingredients').explode('molecules')

# Step 2: Create a binary matrix
# Convert the exploded DataFrame into a binary matrix where each molecule has its own column
# and the presence of the molecule is indicated by 1
df_matrix = pd.get_dummies(df_exploded['molecules']).groupby(df_exploded.index).sum()

df_matrix

,49,58,70,72,107,125,126,135,176,177,...,44229138,46779070,53425122,53472027,54670067,57357963,57370186,57501028,92043681,118855872
ingredients,,,,,,,,,,,,,,,,,,,,,
acorn,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
agar,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
agave,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
albacore tuna,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
alfalfa,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wonton wrapper,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yam,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yautia,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yellow zucchini,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yogurt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Step 1: Convert molecule IDs in df_matrix columns to integers for matching with df_flavs
df_matrix.columns = df_matrix.columns.astype(int)

# Step 2: Reset index of df_flavs for merging
df_flavs_reset = df_flavs.reset_index()

# Step 3: Melt df_matrix to long format for joining with df_flavs
df_matrix_melted = df_matrix.reset_index().melt(id_vars=['ingredients'], var_name='pubchem id', value_name='presence')
df_matrix_melted['pubchem id'] = df_matrix_melted['pubchem id'].astype(int)  # Ensure the pubchem id is integer for matching

# Step 4: Join melted df_matrix with df_flavs_reset on pubchem id
df_joined = df_matrix_melted.merge(df_flavs_reset, on='pubchem id', how='left')

# Step 5: Aggregate by ingredients and flavor profile, summing up the presence
df_aggregated = df_joined.groupby(['ingredients', 'flavor profile'])['presence'].sum().reset_index()

# Step 6: Pivot the aggregated data back to wide format, with flavor profiles as columns
df_pivoted = df_aggregated.pivot(index='ingredients', columns='flavor profile', values='presence').fillna(0)

# The result is a matrix of ingredients and their associated flavor profiles, with summed presence values
df_pivoted

flavor profile,absolute,acacia,acetic,acetoin,acetone,acetophenone,acid,acidic,acrid,acrylate,...,wine,wine-lee,wine_like,winey,wintergreen,wood,woody,yeast,yeasty,ylang
ingredients,,,,,,,,,,,,,,,,,,,,,
acorn,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
agar,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
agave,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
albacore tuna,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
alfalfa,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wonton wrapper,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yam,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
yautia,0,0,0,0,2,0,0,1,0,0,...,3,1,0,0,1,1,3,0,0,0
yellow zucchini,0,0,0,0,2,0,0,2,0,0,...,3,1,0,0,1,1,3,0,0,0
yogurt,0,0,1,0,0,0,0,1,0,0,...,1,0,1,0,1,0,4,0,0,0

In [8]:
# Ensure 'ingredients' are evaluated to lists and filter out empty lists before exploding
dfr1['ingredients'] = dfr1['ingredients'].apply(eval)
dfr1 = dfr1[dfr1['ingredients'].map(bool)]  # Filter out rows where 'ingredients' is an empty list

In [9]:
temp_df=dfr1['ingredients'].explode().reset_index().set_index(['recipe_id', 'ingredients'])

In [13]:
# Example of processing in batches
batch_size = 10000  # Adjust based on your system's memory capacity
n_batches = (len(dfr1) + batch_size - 1) // batch_size  # Calculate the number of batches needed

result_dfs = []  # List to hold the result of each batch

for i in range(n_batches):
    batch_df = dfr1.iloc[i*batch_size:(i+1)*batch_size]  # Select a batch
    batch_df = batch_df.explode('ingredients').reset_index().dropna().set_index(['recipe_id', 'ingredients'])
    batch_result = batch_df.join(df_matrix, on='ingredients', how='left').fillna(0).groupby('recipe_id').sum()
    result_dfs.append(batch_result)

# Combine batch results
df_agg_mol = pd.concat(result_dfs)

In [12]:
import pandas as pd
dfr2 = pd.read_csv('food_dot_com/RAW_interactions.csv').set_index(['recipe_id','user_id'])

dfr2['review']=dfr2['review'].astype(str)

dfr2.head()

                         date  rating  \
recipe_id user_id
40893     38094    2003-02-17       4
          1293707  2011-12-21       5
44394     8937     2002-12-01       4
85009     126440   2010-02-27       5
          57222    2011-10-01       5

                                                              review
recipe_id user_id
40893     38094    Great with a salad. Cooked on top of stove for...
          1293707  So simple, so delicious! Great for chilly fall...
44394     8937     This worked very well and is EASY.  I used not...
85009     126440   I made the Mexican topping and took it to bunk...
          57222    Made the cheddar bacon topping, adding a sprin...

In [14]:
flavor_words = {
    'acidic': ['sharp', 'tart', 'sour'],
    'bitter': ['tart', 'sharp', 'harsh'],
    'sweet': ['sugary'],
    'umami': ['full-flavored', 'savory'],
    'spicy': ['pungent', 'hot'],
}
# Tokenize the reviews and count flavor words
for flavor, words in flavor_words.items():
    dfr2[flavor] = dfr2['review'].str.lower().str.count('|'.join(words))

dfr2

                            date  rating  \
recipe_id user_id
40893     38094       2003-02-17       4
          1293707     2011-12-21       5
44394     8937        2002-12-01       4
85009     126440      2010-02-27       5
          57222       2011-10-01       5
...                          ...     ...
72730     116593      2003-12-09       0
386618    583662      2009-09-29       5
78003     157126      2008-06-23       5
          53932       2009-01-11       4
          2001868099  2017-12-18       5

                                                                 review  \
recipe_id user_id
40893     38094       Great with a salad. Cooked on top of stove for...
          1293707     So simple, so delicious! Great for chilly fall...
44394     8937        This worked very well and is EASY.  I used not...
85009     126440      I made the Mexican topping and took it to bunk...
          57222       Made the cheddar bacon topping, adding a sprin...
...                                                                 ...
72730     116593      Another approach is to start making sauce with...
386618    583662      These were so delicious!  My husband and I tru...
78003     157126      WOW!  Sometimes I don't take the time to rate ...
          53932       Very good!  I used regular port as well.  The ...
          2001868099  I am so glad I googled and found this here. Th...

                      acidic  bitter  sweet  umami  spicy
recipe_id user_id
40893     38094            1       0      0      0      0
          1293707          0       0      0      0      0
44394     8937             0       0      0      0      0
85009     126440           0       0      0      0      0
          57222            0       0      0      0      0
...                      ...     ...    ...    ...    ...
72730     116593           1       1      0      0      0
386618    583662           0       0      0      0      0
78003     157126           0       0      0      0      0
          53932            0       0      0      0      0
          2001868099       0       0      0      0      0

[1132367 rows x 8 columns]

In [15]:
df_agg = dfr2.groupby('recipe_id').agg({'acidic':'sum',
                                         'bitter':'sum',
                                         'sweet':'sum',
                                         'umami':'sum',
                                         'spicy':'sum',
                                         'rating':'mean'})

df_agg=df_agg.rename(columns = {'acidic':'acidic_rev',
                                         'bitter':'bitter_rev',
                                         'sweet':'sweet_rev',
                                         'umami':'umami_rev',
                                         'spicy':'spicy_rev'})

df_final = df_agg.join(df_agg_mol,how='left')

df_final.head()

,acidic_rev,bitter_rev,sweet_rev,umami_rev,spicy_rev,rating,name,minutes,contributor_id,submitted,...,44229138,46779070,53425122,53472027,54670067,57357963,57370186,57501028,92043681,118855872
recipe_id,,,,,,,,,,,,,,,,,,,,,
38,0,0,0,0,0,4.250000,low fat berry blue frozen dessertlow fat berry...,5940.0,6132.0,1999-08-091999-08-091999-08-091999-08-09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,0,0,0,0,0,3.000000,biryanibiryanibiryanibiryanibiryanibiryanibiry...,6890.0,40742.0,1999-08-291999-08-291999-08-291999-08-291999-0...,...,1.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0
40,0,0,0,0,2,4.333333,best lemonadebest lemonadebest lemonadebest le...,210.0,9396.0,1999-09-051999-09-051999-09-051999-09-051999-0...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0,0,0,0,0,4.500000,carina s tofu vegetable kebabscarina s tofu ve...,21900.0,23790.0,1999-09-031999-09-031999-09-031999-09-031999-0...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,0,0,0,0,0,1.000000,best blackbottom piebest blackbottom piebest b...,2100.0,523185.0,1999-08-211999-08-211999-08-211999-08-211999-0...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [16]:
df_final.to_pickle('full_dataset_2.pkl')

-----------------------